@import '../../assets/sass/variable.scss';
.card_main_box {
  height: 220px;
  width: 220px;
  margin: 20px;
  border-radius: 6px;
  border: solid 2px $first_additional_color;
}

.character_image {
  height: 216px;
  width: 216px;
  border-radius: 6px;
  object-fit: cover;
}
