@import '../../assets/sass/mixins.scss';

.gridcard_main_box {
  max-height: 100%;
  max-width: 100%;

  .gridcard_box {
    max-height: 100%;
    max-width: 100%;
    margin: 20px;
    @include flexBox(wrap, row, center, center);
  }
}
