@import '../src/assets/sass/variable.scss';
@import '.././src/assets/sass/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_app_box {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  .app_box {
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;
    background: $secondary_color;
    @include flexBox(nowrap, column, space-between, center);
  }
}
